<!-- Custom error messages -->
<!-- 
    Login, Register methods 
    From the Users Routes uses this
-->
<% if (typeof msg !== 'undefined') { %>
    <div class="alert alert-danger" role="alert">
        <%= msg %>
    </div>
<% } %>

<!-- Default error messages -->
<!-- 
    Create items (book, magazine, music, movie)
    Update Items(book, magazine, music, movie)
    From the Catalog Routes uses this 
-->
<!-- Errors returns [location, param, msg, value] -->
<% if (typeof errors !== 'undefined') { %>
    <div class="alert alert-danger" role="alert">
        <% for (var i = 0 ; i < errors.length ; i++){%>
            <h4 class="my-3"><%= errors[i].msg %></h4>
        <% } %>
    </div>
<% } %>