<!-- Custom error messages -->
<!-- 
    Login, Register methods 
    From the Users Routes uses this
-->
<% if (typeof msg !== 'undefined') { %>
    <div class="alert alert-danger" role="alert">
        <%= msg %>
    </div>
<% } %>

<!-- Default error messages -->
<!-- 
    Create items (book, magazine, music, movie)
    Update Items(book, magazine, music, movie)
    From the Catalog Routes uses this 
-->
<!-- Errors returns [location, param, msg, value] -->
<% if (typeof errors !== 'undefined') { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="my-1">Error</h3>
        <% for (var i = 0 ; i < errors.length ; i++){%>
            <p class="my-3"><%= errors[i].msg %></p>
        <% } %>
    </div>
<% } %>

<!-- Errors returns [location, param, msg, value] -->
<% if (typeof err !== 'undefined') { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="my-1">Warning</h3>
        <% for (var i = 0 ; i < err[0].msg.length ; i++){%>
            <p class="my-3"><%= err[0].msg[i] %></p>
        <% } %>
    </div>
<% } %>

<% if (typeof success !== 'undefined') { %>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="javascript:history.back()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="my-1">Success</h3>
        <% for (var i = 0 ; i < success.length ; i++){%>
            <p class="my-3"><%= success[i].msg %></p>
        <% } %>
    </div>
<% } %>