<html lang="en">
<head>
    <%- include('./partials/_header'); -%>
</head>

<body>
    <%- include('./partials/_navbar'); -%>
    
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 my-2">
            <h2>List of Items in the Cart</h2>
        </div>
    </div>
                
    <%- include('./partials/_footer') -%>
</body>

</html>