<html lang="en">
<head>
    <%- include('../partials/_header'); -%>
</head>

<body>
    <%- include('../partials/_navbar'); -%>
    
                <h2>List of Items in the Cart</h2>
                
    <%- include('../partials/_footer') -%>
</body>

</html>