<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Create Item</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script>function redirect(){window.location="/";}</script>
  <% include navbar %>
<style>
  .custom-select {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
</style>
</head>

<body>
  <div class="custom-select" style="width:500px;">
    <select>
      <option value="0">Select the item type to create :</option>
      <option value="1">Book</option>
      <option value="2">Magazine</option>
      <option value="3">Music</option>
      <option value="4">Movie</option>
    </select>
  </div>

</body>

</html>
