<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Create Item</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script>function redirect(){window.location="/";}</script>
  <% include navbar %>
</head>

<body>
    <div class="container col-sm-12" id="mainform">
        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Add entry to catalog</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"></div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">

                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9">
                                <div>
                                <fieldset>
                                <div>
                                    <legend>Select type of item to add to catalog:</legend>
                                    <% include selectItemType %>
                                </div>
                                    <!-- <div><button type="button">Promote</button> -->
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Button -->
                            <!-- <div class="col-md-offset-3 col-md-9">
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
