<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Create Item</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script>function redirect(){window.location="/";}</script>
  <% include navbar %>
<style>
  .custom-select {
    margin: auto;
    position: absolute;
    top: 15%;
    left: 40%;
}
.options {
  width: 200px;
  height: 50px;
}
</style>
</head>

<body>
  <div class="custom-select">
    <h5>Select the item type to create</h5>
    <select class=options onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
      <option value="./createBook">Book</option>
      <option value="2">Magazine</option>
      <option value="3">Music</option>
      <option value="4">Movie</option>
    </select>
  </div>

</body>

</html>
