<!-- Use index.ejs as a boilerplate for the head/footer requires in the HTML doc. -->
<!DOCTYPE html>
<html lang="en"> 
<head>
    <%- include('partials/_header'); -%>
</head>

<body>
    <%- include ('partials/_navbar'); -%>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1> Soen 343 Team 5</h1>
                <p> Team 5's term project for SOEN 343 in Concordia University - Fall 2018</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Team Members</h3>
                <p>Nizar Belhassan</p>
                <p>Dave Bhardwaj</p>
                <p>Kenza Boulisfane</p>
                <p>Kevin Camellini</p>
                <p>Giovanni Gebran</p>
                <p>Kayne Herrmann</p>
                <p>Kevin Lin</p>
                <p>Nour El Natour</p>
                <p>Kevin Yau</p>
                <p>Abdullah Alhaj Zen</p>
            </div>
        </div>
    </div>
    <%- include('partials/_footer'); -%>        
</body>
</html>