<!-- Use index.ejs as a boilerplate for the head/footer requires in the HTML doc. -->
<!DOCTYPE html>
<html lang="en"> 

<head>
    <%- include('partials/_header') -%>
</head>

<body>
    <%- include('partials/_navbar'); -%>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 my-2">
                <%- include('partials/_error'); -%>
                <h1>Soen 343 Team 5</h1>
                <p>Team 5's term project for SOEN 343 in Concordia University - Fall 2018</p>
                <p><a href="https://soen343t5.herokuapp.com/" target="_blank">Live Demo</a> <small>(free heroku dyno - wait 30 sec to load)</small></p>
                <p><a href="https://github.com/AznBoy00/soen343team5" target="_blank">Github Repo</a> <small>(private)</small></p>
                <p><a href="https://docs.google.com/document/d/12pFypLqLq2HGXtHhZYz-CggFGJwnFcUGHP_xX4t00Ms/edit?usp=sharing" target="_blank">SRS</a> <small>(colaborator only)</small></p>
                <p><a href="https://docs.google.com/document/d/1zmdFFYL1p4VZ4vIP3dQlZ2MK9rv0G8gLOn0qgQbQJV8/edit?usp=sharing" target="_blank">SAD</a> <small>(colaborator only)</small></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <h3>Team Members</h3>
                <p>Nizar Belhassan</p>
                <p>Dave Bhardwaj</p>
                <p>Kenza Boulisfane</p>
                <p>Kevin Camellini</p>
                <p>Giovanni Gebran</p>
                <p>Kayne Herrmann</p>
                <p>Kevin Lin</p>
                <p>Nour El Natour</p>
                <p>Kevin Yau</p>
                <p>Abdullah Alhaj Zen</p>
            </div>
        </div>
    </div>
    <%- include('partials/_footer') -%>        
</body>

</html>
