extends layout

block content
	.container.py-3
		.row
			.col-12
				h1 Soen 343 Team 5
				// p Welcome to #{title}
				p Team 5's term project for SOEN 343 in Concordia University - Fall 2018
				br
				<a href="/login">Login</a>
				<a href="/signup">Register</a>
				br
		.row
			.col-12
				h3 Team Members
				p Nizar Belhassan
				p Dave Bhardwaj
				p Kenza Boulisfane
				p Kevin Camellini
				p Giovanni Gebran
				p Kayne Herrmann
				p Kevin Lin
				p Nour El Natour
				p Kevin Yau
				p Abdullah Alhaj Zen
