<!-- Use index.ejs as a boilerplate for the head/footer requires in the HTML doc. -->
<!DOCTYPE html>
<html lang="en"> 

<head>
    <%- include('partials/_header') -%>
</head>

<body>
    <%- include('partials/_navbar'); -%>
    <div class="container main">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 my-2">
                <%- include('partials/_error'); -%>
                <h1>Soen 343 Team 5</h1>
                <p>Team 5's term project for SOEN 343 in Concordia University - Fall 2018</p>
            </div>
        </div>

    </div>
    <%- include('partials/_footer') -%>        
</body>

</html>
