<center>
    <a href="/">Home</a>
    |
    <a href="/login">Login</a>
    |
    <a href="/signup">Register</a>
    |
    <a href="/usercp">User Panel</a>
    |
    <a href="/admincp/manageusers">Admin Panel</a>
    |
    <a href="/users/logout">Logout</a>
    |
    <a href="/createitems">Create Item</a>
</center>