  <div class="custom-select">
    <select class=options onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
      <option value="">Select type</option>
      <option value="/catalog/createitems/createBook">Book</option>
      <option value="/catalog/createitems/createMagazine">Magazine</option>
      <option value="/catalog/createitems/createMusic">Music</option>
      <option value="/catalog/createitems/createMovie">Movie</option>
    </select>
  </div>