<html lang="en">

<head>
  <style>
    .custom-select {
      margin: auto;
      position: absolute;
      top: 15%;
      left: 40%;
  }
  .options {
    width: 200px;
    height: 50px;
  }
  </style>
  </head>

<body>
  <div class="custom-select">
    <h5>Select the item type to create</h5>
    <select class=options onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
      <option value="">Select type</option>
      <option value="http://localhost:3000/createitems/createBook">Book</option>
      <option value="http://localhost:3000/createitems/createMagazine">Magazine</option>
      <option value="http://localhost:3000/createitems/createMusic">Music</option>
      <option value="http://localhost:3000/createitems/createMovie">Movie</option>
    </select>
  </div>

</body>

</html>
