<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" placeholder="Title of the Album">
</div>

<div class="form-group">
    <label>Type</label>
    <input type="text" class="form-control" name="type" placeholder="Type of the Ablum (cd, vinyl, tape)">
</div>

<div class="form-group">
    <label>Artist</label>
    <input type="text" class="form-control" name="artist" placeholder="Artist of the Album">
</div>

<div class="form-group">
    <label>Label</label>
    <input type="text" class="form-control" name="label" placeholder="Label of the Album">
</div>

<div class="form-group">
        <label>Release Date <small class="text-muted">(yyyy-mm-dd)</small></label>
    <input type="date" class="form-control" name="releasedate" placeholder="Release Date of the Album">
</div>

<div class="form-group">
        <label>ASIN <small class="text-muted">(B008FOB124)</small></label>
    <input type="number" class="form-control" name="asin" placeholder="ASIN of the Album">
</div>

<div class="form-group">
    <label>Quantity</label>
    <input type="number" class="form-control" name="quantity" placeholder="Quantity available">
</div>
