<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" placeholder="Title of the Movie">
</div>

<div class="form-group">
    <label>Director</label>
    <input type="text" class="form-control" name="director" placeholder="Director of the Movie">
</div>

<div class="form-group">
    <label>Producers <small class="text-muted">(seperate by a comma)</small></label>
    <input type="text" class="form-control" name="producers" placeholder="Producers of the Movie">
</div>

<div class="form-group">
    <label>Actors <small class="text-muted">(seperate by a comma)</small></label>
    <input type="text" class="form-control" name="actors" placeholder="Actors in the Movie (separated, by, commas)">
</div>

<div class="form-group">
    <label>Language</label>
    <input type="text" class="form-control" name="language" placeholder="Language of the Movie">
</div>

<div class="form-group">
    <label>Dubbed Language</label>
    <input type="text" class="form-control" name="dubbed" placeholder="Dubbed languages of the Movie">
</div>

<div class="form-group">
        <label>Subtitles Language</label>
    <input type="text" class="form-control" name="subtitles" placeholder="Subtitles languages of the Movie">
</div>

<div class="form-group">
    <label>Release Date <small class="text-muted">(yyyy-mm-dd)</small></label>
    <input type="date" class="form-control" name="release_date" placeholder="Release Date of the Movie">
</div>

<div class="form-group">
    <label>Run Time <small class="text-muted">(in minutes)</small></label>
    <input type="number" class="form-control" name="run_time" placeholder="Run time of the Movie (in minutes)">
</div>

<div class="form-group">
    <label>Quantity</label>
    <input type="number" class="form-control" name="quantity" placeholder="Quantity available">
</div>