<!DOCTYPE html>
<html lang="en"> 

<head>
    <%- include('../partials/_header') -%>
    <script>function redirect(){window.location="/";}</script>
</head>

<body>
    <%- include('../partials/_navbar'); -%>
    <div class="container">
        
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <h2>Add a new Item</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <form>
                    
                    <%- include('../partials/_error'); -%>

                    <div class="form-group">
                        <label for="inputSelect">Select type of item to add to catalog:</label>
                        <select class="form-control" id="inputSelect" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                            <option value="">Select type</option>
                            <option value="/catalog/createitems/Book">Book</option>
                            <option value="/catalog/createitems/Magazine">Magazine</option>
                            <option value="/catalog/createitems/Music">Music</option>
                            <option value="/catalog/createitems/Movie">Movie</option>
                        </select>
                    </div>            
                </form>
			</div>
			<!-- ./ end col -->
		</div>
		<!-- ./ end row -->

	</div>
	<!-- ./ end container -->
	<%- include('../partials/_footer') -%>   
</body>

</html>
