body {
    min-height: 100vh;
    /* the purpose of these 2 lines is to float the footer to the bottom of the page */
    display: flex;
    flex-direction: column;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* this variable changes the theme color of the website */
    --main-color: #039be5;
}
.main {
    /* the purpose of this 1 line is to float the footer to the bottom of the page */
    flex: 1 0 auto;
    /* add some padding between main content and the footer */
    padding-bottom: 50px;
}
.text-biblio, .navbar-brand{
    color: var(--main-color)!important;
}
footer{
    background-color: var(--main-color);
    color: white;
}
/* buttons */
.btn-outline-primary, .btn-primary{
    color: var(--main-color);;
    border-color: var(--main-color);
}
.btn-outline-primary:hover, .btn-primary:hover{
    background-color:var(--main-color);
}
/* Links */
.footer-links{
    color: white;
}
a {
    color: var(--main-color);
}
.footer-links:hover{
    color: #bdbdbd;
}
a:hover, .footer-links:hover{
    text-decoration: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
