<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control form-control-sm" name="title" placeholder="Title of the Book">
</div>

<div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control form-control-sm" name="author" placeholder="Name of the Author">
</div>

<div class="form-group">
    <label>Format <small class="text-muted">(Paperback or Hard Cover)</small></label>
    <input type="text" class="form-control form-control-sm" name="format" placeholder="Format of Book (Paperback or Hard Cover)">					
</div>

<div class="form-group">
    <label>Pages</label>
    <input type="number" class="form-control form-control-sm" name="pages" placeholder="Number of Pages">
</div>

<div class="form-group">
    <label> Publisher </label>
    <input type="text" class="form-control form-control-sm" name="publisher" placeholder="Publisher of the Book">
</div>

<div class="form-group">
    <label>Language</label>
    <input type="text" class="form-control form-control-sm" name="language" placeholder="Language of the Book">
</div>

<div class="form-group">
    <label>ISBN10 <small class="text-muted">(1234567890)</small></label>
    <input type="number" maxlength="13" class="form-control form-control-sm" name="isbn10" placeholder="ISBN10 of the Book">
</div>

<div class="form-group">
    <label>ISBN13 <small class="text-muted">(1234567890123)</small></label>
    <input type="number" maxlength="13" class="form-control form-control-sm" name="isbn13" placeholder="ISBN13 of the Book">
</div>