<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control form-control-sm" name="title" placeholder="Title of the Magazine">
</div>

<div class="form-group">
    <label> Publisher </label>
    <input type="text" class="form-control form-control-sm" name="publisher" placeholder="Publisher of the Magazine">
</div>

<div class="form-group">
    <label>Language</label>
    <input type="text" class="form-control form-control-sm" name="language" placeholder="Language of the Magazine">
</div>

<div class="form-group">
    <label>Quantity</label>
    <input type="number" class="form-control form-control-sm" name="quantity" placeholder="Number of Magazines in stock">
</div>

<div class="form-group">
    <label>Release Date <small class="text-muted">(yyyy-mm-dd)</small></label>
    <input type="date" class="form-control form-control-sm" name="release_date" placeholder="Release Date of the Magazine">
</div>

<div class="form-group">
    <label>ISBN10 <small class="text-muted">(1234567890)</small></label>
    <input type="number" maxlength="13" class="form-control form-control-sm" name="isbn10" placeholder="ISBN10 of the Magazine">
</div>

<div class="form-group">
    <label>ISBN13 <small class="text-muted">(1234567890123)</small></label>
    <input type="number" maxlength="13" class="form-control form-control-sm" name="isbn13" placeholder="ISBN13 of the Magazine">
</div>