<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control form-control-sm" name="title" placeholder="Title of the Album">
</div>

<div class="form-group">
    <label>Type of Media <small class="text-muted">(CD, vinyl, tape)</small></label>
    <input type="text" class="form-control form-control-sm" name="type" placeholder="Type of the Ablum (cd, vinyl, tape)">
</div>

<div class="form-group">
    <label>Artist</label>
    <input type="text" class="form-control form-control-sm" name="artist" placeholder="Artist of the Album">
</div>

<div class="form-group">
    <label>Label</label>
    <input type="text" class="form-control form-control-sm" name="label" placeholder="Label of the Album">
</div>

<div class="form-group">
    <label>Quantity</label>
    <input type="number" class="form-control form-control-sm" name="quantity" placeholder="Number of Albums in stock">
</div>

<div class="form-group">
    <label>Release Date <small class="text-muted">(yyyy-mm-dd)</small></label>
    <input type="date" class="form-control form-control-sm" name="release_date" placeholder="Release Date of the Album">
</div>

<div class="form-group">
    <label>ASIN <small class="text-muted">(B008FOB124)</small></label>
    <input type="text" maxlength="10" class="form-control form-control-sm" name="asin" placeholder="ASIN of the Album">
</div>
